#page-header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#report-area {
  width: 80%;
}

.question-and-answer-card {
  background-color: antiquewhite;
  padding: 1rem;
  margin-top: 1rem;
}
