:root {
  --alice-blue: aliceblue;
}

#page-header {
  text-align: center;
}

#nav-bar select,
option {
  font-size: large;
  padding: 0.5rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
}

#report-area {
  max-width: 90%;
  background-color: var(--alice-blue);
}

.question-and-answer-card {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 5px;
  border: 1px solid;
  background-color: white;
}

.question {
  font-size: large;
}

.answer {
  font-size: large;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  text-align: center;
  background-color: var(--alice-blue);
}
